<div class="container">
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="about">About</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="admin">Admin</a></li>
    <li *ngIf="isLoggedIn"><a class="clickable" (click)="logout()"><span class="clickable">Log out</span></a>
    </li>
    <li *ngIf ="!isLoggedIn"><a class="clickable" (click)="login()"><span class="clickable">Admin</span></a></li>
  </ul>

  <div style="text-align:center">
    <h1>{{title}}</h1>
  </div>

  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>
