<div class="container">
  <ul>
    <li><a routerLink="">Home</a></li>
    <li *ngIf="isLoggedIn">You are logged in: <a class="clickable" (click)="logout()"><span class="clickable">Log out</span></a>
    </li>
    <li *ngIf ="!isLoggedIn"><a class="clickable" (click)="login()"><span class="clickable">Log in</span></a></li>
  </ul>

  <div style="text-align:center">
    <h1>{{title}}</h1>
  </div>

  <div class="">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="isLoggedIn">
    <div *ngIf="currentRoute !== '/admin'">
      <footer class="footer">
        <div class="container">
          <a class="text-muted" routerLink="admin">Admin</a>
        </div>
      </footer>
    </div>
  </div>
</div>
