<div class="card">
  <h3>Add New Album to Inventory</h3>
  <div>
    <div>
      <label>Enter Model Name:</label>
      <br>
      <input #newName>
    </div>

    <div>
      <label>Description:</label>
      <br>
      <textarea #newDescription></textarea>
    </div>

    <div>
      <label>Image URL:</label>
      <br>
      <input #newImage>
    </div>

    <div>
      <label>Price:</label>
      <br>
      <input #newPrice>
    </div>

    <div>
      <label>Category:</label>
      <select #newCategory>
        <option [ngValue]="individual">individual</option>
        <option [ngValue]="family">family</option>
      </select>
    </div>

    <button (click)="submitForm(newName.value, newDescription.value, newImage.value, newPrice.value, newCategory.value); newName.value=''; newDescription.value=''; newImage.value=''; newPrice.value=''; newCategory.value=''">Add</button>
  </div>
</div>

<app-home></app-home>
