h5 {
  color: #668877;
}

.price {
  font-size: 40px;
  font-family: impact;
  color: orange;
  font-style: italic;
  margin-right: 20px;
}

button {
  margin: 5px 15px;
  padding: 15px;
  background-color: #ccaa99;
  color: white;
  cursor: pointer;
}

#options {
  display: block;
  margin: 25px auto;
}

button:hover {
  background-color: #ddccbb;
  color: #998877;
}

.bag-display img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 25px auto 15px;
}

.displays {
  margin: 0 auto;
  width: 1200px;
}

.bag-display {
  width: 350px;
  border: 1px solid black;
  text-align: center;
  display: block;
  margin: 25px;
  float: left;
  border-radius: 5px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 800px) {
  .bag-display {
    float: none;
  }
  .displays {
    width: 450px;
  }
}
